* {
    box-sizing: border-box;
  }
  
  .wrapper {
    border: 0.5px solid #938686;
    margin: 0px 50px 20px 70px;
    padding: 20px 0px 40px 0px;
    max-width: 500px;
    width: 55%;
    max-height: 400px;
    height: 60%;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .score {
    background-color: lightblue;
    padding: 35px;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    font-size: 40px;
    border-radius: 5px;
    color: rgb(8, 56, 111);
  }
  
  .type {
    text-align: center;
    font-size: 40px;
    color: rgb(8, 56, 111);
    padding-top: 30px;
  }
  
  p {
    padding-top: 1rem;
  }

  .weightResult{
    padding-top: 1rem;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .wrapper span{
    color:rgb(22, 46, 71);
     font-size: 30px; 
    font-weight: 500;
  }